<body >
    
    <container class="flex flex-col md:flex-row">
    <section class="Recipe-Input md:w-1/2 p-4">
        <form class="max-w recipe-form">
            <h2 class="title flex items-center justify-center h-full"> Recipe Input</h2>
            <div>
                <label for="small-input" class="block mb-2 text-sm font-small text-gray-900 dark:text-white">Recipe Title</label>
                <input type="text" id="small-input title" class="recipe-title block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div class="md:flex md:space-x-4">
  
                <div class="mb-5 timing w-full">
                    <div>
                        <label for="small-input" class="block mb-2 text-sm font-small text-gray-900 dark:text-white">Prep Time</label>
                        <input type="text" id="small-input prep-time" class="prep-time block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div>
                    <label for="small-input" class="block mb-2 text-sm font-small text-gray-900 dark:text-white">Cook Time</label>
                    <input type="text" id="small-input cook-time" class="cook-time block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mb-5">
                    <label for="large-input" class="block mb-2 text-sm font-small text-gray-900 dark:text-white">Ingredients (Separate with commas)</label>
                    <input type="text" id="large-input ingredients" class="ingredients block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                </div>
            </div>
            
            <div class="mb-5">
                <label for="selectInput" class="block mb-2 text-sm font-small text-gray-900 dark:text-white">Select an option:</label>
                <select id="selectInput difficulty" name="selectInput" class="difficulty block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="" disabled selected>Select One</option>
                    <option value="Easy">Easy</option>
                    <option value="Standard">Standard</option>
                    <option value="Difficult">Difficult</option>
                </select>
            </div>            
            <div>
                <label for="small-input" class="block mb-2 text-sm font-small text-gray-900 dark:text-white">Steps</label>
                <input type="text" id="small-input step1" class="step1 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4">
                <input type="text" id="small-input step2" class="step2 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4">
                <input type="text" id="small-input step3" class="step3 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4">
                <input type="text" id="small-input step4" class="step4 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4">
                <input type="text" id="small-input step5" class="step5 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4">
                <input type="text" id="small-input step6" class="step6 block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4">
            </div>
            <div class="mt-6">
                <button type="submit" class="form-submitbg-blue-500 bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Submit
                </button>
            </div>
        </form>
    </section>
    <section class="Recipe-Search md:w-1/2 p-4">
        <div class="flex items-center w-full Title-search p-1">
            <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:border-blue-500" placeholder="Search by Title/Keyword">
            <button onclick="replaceData()" class="px-4 py-2 bg-blue-500 text-white rounded-r-md search-button">Search</button>
        </div>  
        <section id="replacement">
            {{replacement}}
        </section>
    </section>
    </container>


     <script src="./js/profilebuttons.js"></script>
     <script src="./js/recipeReplacement.js"></script>
</body>
</html>