{{!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head> --}}

{{#each recipes as |recipe| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>

    <p>{{recipe.title}}: {{recipe.image}}: {{recipe.preptime}} {{recipe.user.username}} </p>
  </div>
</div>
{{/each}}