 <body class="bg-gray-100">
    <h2 class="text-4xl font-bold mb-4 text-center p-4">${title}</h2>

    <div class="container mx-auto flex flex-col md:flex-row space-y-4">
      <!-- Image Section -->
      <section class="md:w-1/3 bg-white p-8 my-8 rounded-lg shadow-md">
        <div class="image-result">
          <img src="/public/Icon.jpeg" alt="Recipe Image" class="w-full h-full object-cover rounded-lg" />
        </div>
      </section>

      <!-- Timing/Display Section -->
      <section class="md:w-1/3 bg-white p-8 my-8 md:ml-4 rounded-lg shadow-md">
        <div class="timing mt-4">
          <h3 class="text-lg font-semibold">Prep Time</h3>
          <p>${prep-time}</p>
          <h3 class="text-lg font-semibold mt-2">Cook Time</h3>
          <p>${cook-time}</p>
        </div>
        <div class="difficulty mt-4">
          <h3 class="text-lg font-semibold">Difficulty</h3>
          <p>${difficulty}</p>
        </div>
      </section>

      <!-- Ingredients Section -->
      <section class="md:w-1/3 bg-white p-8 my-8 md:ml-4 rounded-lg shadow-md flex flex-col">
        <div class="ingredients flex-grow">
          <h3 class="text-lg font-semibold">Ingredients</h3>
          <p>${ingredients}</p>
        </div>
      </section>
    </div>

    <!-- Steps Section -->
    <section class="container mx-auto flex flex-col md:flex-row rounded-lg bg-white shadow-md p-8 my-8">
      <div class="steps mt-4">
        <h3 class="text-lg font-semibold">Steps</h3>
        <p class="mb-2">1. ${step1}</p>
        <p class="mb-2">2. ${step2}</p>
        <p class="mb-2">3. ${step3}</p>
        <p class="mb-2">4. ${step4}</p>
        <p class="mb-2">5. ${step5}</p>
        <p class="mb-2">6. ${step6}</p>
      </div>
    </section>
  </body>
</html>
